.advantages-sublist {
  padding: 23px 18px 0 65px;
  list-style-type: none;
  background-color: @white;
  text-align: start;
  color: @black;
}

.advantages-sublist__title {
  margin-top: 0;
  margin-bottom: 16px;
  .font-settings(700; 18px; 26px);
}

.advantages-sublist__text {
  margin-top: 0;
  margin-bottom: 25px;
  color: @lightblack;
}
