.advantages__header {
  padding-top: 32px;
  padding-bottom: 54px;
}

.advantages__list {
  .reset-list-style;
  padding-bottom: 4px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__slogan {
  .reset-style;
  .font-settings(700; 18px; 26px);
  max-width: 273px;
  margin: 0 auto;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    max-width: 500px;
  }
}

.advantages__text {
  .reset-style;
  margin: 0 auto;
  max-width: 273px;

  @media (min-width: @tablet-width) {
    max-width: none;
  }
}

.advantages__description {
  margin: 0 auto;
  max-width: 268px;

  @media (min-width: @tablet-width) {
    max-width: 190px;
  }
}

.advantages__title {
  .reset-style;
  .font-settings(700; 18px; 26px);
  margin-bottom: 10px;
  color: inherit;

  @media (min-width: @tablet-width) {
    max-width: 185px;
    margin: 0 auto;
  }
}

.advantages__item {
  padding-top: 36px;
  padding-bottom: 40px;
  background-color: @grey;
  border-bottom: 1px solid @lightgray;

  @media (min-width: @tablet-width) {
    width: calc(100% / 3);
  }
}

.advantages__item--with-image {
  padding: 0;
  background-color: @blue;
  color: @white;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.advantages__wrapper {
  padding-top: 36px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    width: calc(100% / 3);
  }
}

.advantages__number {
  .reset-style;
  margin-bottom: 17px;
  color: inherit;
}

.advantages__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.advantages__group {
  @media (min-width: @tablet-width) {
    display: flex;
    width: 100%;
  }
}

.advantages__group--reverse {
  flex-direction: row-reverse;
}
