.catalog {
  margin-left: 20px;
  margin-right: 20px;
}

.catalog__header {
  text-align: center;
}

.catalog__title {
  .font-settings(700; 18px; 26px);
}

.catalog__list {
  .reset-list-style;
}

.catalog__image-title {
  margin-top: 15px;
  margin-bottom: 0;
}

.catalog__image-autor {
  text-transform: none;
  margin: 0;
}

.catalog__like {
  margin-top: 16px;
  margin-bottom: 25px;
  font-weight: 700;
}

.catalog__image {
  width: 100%;
  height: auto;
}
