.feedback__header {
  margin-bottom: 53px;
  text-transform: uppercase;
  text-align: center;
}

.feedback__title {
  .font-settings(700; 18px; 26px);
}

.feedback__text {
  .font-settings(400; 14px; 21px);
}

.feedback-form__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  .font-settings(700; 18px; 26px);
}

.feedback-form__group {
  margin-bottom: 49px;
  display: flex;
  flex-direction: column;
  border: none;
}

.feedback-form__label {
  text-transform: uppercase;
  .font-settings(400; 14px; 21px; @lightblack);
}

.feedback-form__textarea {
  background-color: @grey;
  border: none;
  height: 150px;
  .font-settings(700; 18px; 26px);
}

.feedback-form__input {
  background-color: @grey;
  border: none;
  .font-settings(700; 18px; 26px; @black);
}

