.hotel-offers {
  text-transform: uppercase;
  text-align: center;
}

.hotel-offers__title {
  color: @black;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotel-offers__text {
  color: @lightblack;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.hotel-offers__link {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 49px;
  text-decoration: none;
  color: @white;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
