.input-text {
  display: flex;
  flex-direction: column;
}

.input-text__label {
  margin-left: 16px;
  color: @lightblack;
  text-align: start;
}

.input-text__input {
  padding: 16px;
  margin-bottom: 8px;
  background-color: @grey;
  border: none;
  text-transform: none;
  .font-settings(700; 18px; 26px);
}
