.input-checkbox__label {
  .font-settings(700; 18px; 26px);
  padding-left: 63px;
  min-height: 46px;
  position: relative;
  display: flex;
  align-items: center;
  text-transform: none;
  cursor: pointer;

  &::before {
    content: "";
    width: 46px;
    height: 46px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background: #f2f2f2;
  }

  &::after {
    content: "";
    background: url("../img/tick.svg") no-repeat center;
    width: 22px;
    height: 16px;
    position: absolute;
    top: 13px;
    left: 12px;
    display: none;
  }

  &:hover::before {
    background-color: #e5e5e5;
  }

  &:active::before,
  &:focus::before {
    background-color: #d5d5d5;
  }

  &:active::after,
  &:focus::before {
    background-color: #d5d5d5;
    opacity: 0.7;
  }
}

.input-checkbox__input:checked + .input-checkbox__label::after {
  display: block;
}

.input-checkbox {
  box-sizing: border-box;
}

// only mobail
@media (max-width: @mobile-width-only) {
  .input-checkbox {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

// tablet
@media (min-width: @tablet-width) {
  .input-checkbox {
    padding-right: 48px;
  }
}

// desktop
@media (min-width: @desktop-width) {
  .input-checkbox {
    padding-right: 0;
  }
}
