.input-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input-text__label {
  margin-left: 16px;
  color: @lightblack;
  text-align: start;
}

.input-text__input {
  .font-settings(700; 16px; 30px);
  width: 100%;
  padding: 16px 16px 12px 15px;
  box-sizing: border-box;
  border: none;
  text-transform: none;
  background-color: @lightgray;
  background-repeat: no-repeat;
  background-position: right 20px center, right center;
}

.input-text__input--phone {
  background-image: url("../img/icon-phone.svg"), linear-gradient(to left, #e6e6e6 58px, transparent 58px);
  padding-right: 62px;
}

.input-text__input--email {
  background-image: url("../img/icon-email.svg"), linear-gradient(to left, #e6e6e6 58px, transparent 58px);
  padding-right: 62px;
}
