.input-checkbox {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.input-checkbox__label {
  .font-settings(700; 18px; 26px);
  padding-left: 63px;
  min-height: 46px;
  position: relative;
  display: flex;
  align-items: center;
  text-transform: none;
  cursor: pointer;

  &::before {
    content: "";
    width: 46px;
    height: 46px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background: @lightgray;
  }

  &::after {
    content: url("../img/tick.svg");
    width: 22px;
    height: 16px;
    position: absolute;
    top: 13px;
    left: 12px;
    display: none;
  }
}

.input-checkbox__input:checked + .input-checkbox__label::after {
  display: block;
}

// tablet
@media (min-width: @tablet-width) {
  .input-checkbox {
    width: 50%;
  }
}

// desktop
@media (min-width: @desktop-width) {
  .input-checkbox {
    width: 25%;
  }
}
