// mobail
.input-radio {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.input-radio__label {
  .font-settings(700; 18px; 26px);
  min-height: 45px;
  padding-left: 63px;
  position: relative;
  display: flex;
  align-items: center;
  text-transform: none;
  cursor: pointer;

  &::before {
    content: "";
    width: 46px;
    height: 46px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: @lightgray;
  }

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 50%;
    background: @black;
    display: none;
  }
}

.input-radio__input:checked + .input-radio__label::after {
  display: block;
}

// tablet
@media (min-width: @tablet-width) {
  .input-radio {
    width: 50%;
    box-sizing: border-box;
    padding-left: 35px;

    &:nth-child(2n) {
      padding-left: 7px;
    }
  }
}

// desktop
@media (min-width: @desktop-width) {
  .input-radio {
    width: calc(100% / 3);
  }
}
