.input-textarea {
  .font-settings(700; 18px; 26px);
  font-family: inherit;
  margin: 0 auto;
  padding: 17px;
  width: 100%;
  max-width: 768px;
  min-height: 149px;
  border: none;
  box-sizing: border-box;
  background-color: @grey;
}
