.input-checkbox {
  display: flex;
}

.input-checkbox__label {
  .font-settings(700; 18px; 26px);
  padding-left: 63px;
  padding-top: 11px;
  min-height: 32px;
  position: relative;
  text-transform: none;
  cursor: pointer;

  &::before {
    content: "";
    width: 46px;
    height: 46px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background: #f2f2f2;
  }

  &::after {
    content: "";
    background: url("../img/tick.svg") no-repeat center;
    width: 22px;
    height: 16px;
    position: absolute;
    top: 13px;
    left: 12px;
    display: none;
  }

  &:hover::before {
    background-color: #e5e5e5;
  }

  &:active::before {
    background-color: #d5d5d5;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.input-checkbox__input:checked + .input-checkbox__label::after {
  display: block;
}

.input-checkbox__input:focus-visible ~ .input-checkbox__label::before {
  box-shadow: inset 0 0 4px 1px #d5d5d5;
  outline: 2px solid #d5d5d5;
}

// only mobile
@media (max-width: @mobile-width-only) {
  .input-checkbox {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .input-checkbox__label {
    min-height: 46px;
  }
}

//desktop
@media (min-width: @desktop-width) {
  .input-checkbox {
    justify-content: center;
  }
}
