.main-container__image-wrapper {
  position: relative;
  padding-top: 89px;
  padding-bottom: 79px;
  text-align: center;
  background: url("../img/back-mobile.jpg") @lightblue center/cover no-repeat;

  @media (min-width: @tablet-width) {
    background-image: url("../img/back-tablet.jpg");
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/back-desktop.jpg");
  }
}
