// mobaile
.main-footer {
  padding: 11px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-footer__hashtag {
  .reset-style;
  .font-settings(700; 21px; 26px);
  padding: 21px 0;
}

.main-footer__social {
  padding: 12px 0;
}

.main-footer__copyright {
  padding: 28px 0;
}

// tablet
@media (min-width: @tablet-width) {
  .main-footer {
    padding: 22px 60px;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-footer__social {
    padding: 0 8px 4px 0;
  }

  .main-footer__copyright {
    padding: 0;
  }
}

//desktop
@media (min-width: @desktop-width) {
  .main-footer {
    padding: 36px 120px 45px 120px;
  }
}
