.main-nav {
  width: 100%;
}

.main-nav--js-active {
  top: 0;
  position: absolute;
  z-index: 2;
}

.main-nav__list {
  .reset-list-style;
  background-color: @blue;
  color: @white;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    background-color: @white;
    color: @black;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
  }
}

.main-nav__item {
  box-shadow: 0 1px 0 #01010133, inset 0 1px 0 #ffffff33;

  @media (min-width: @tablet-width) {
    width: 20%;
    min-height: 56px;
    box-shadow: none;

    &:nth-child(4n+2) {
      margin-right: 20%;
    }
  }

  @media (min-width: @desktop-width) {
    width: 240px;

    &:nth-child(4n+2) {
      margin-right: 240px;
    }
  }
}

.main-nav__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 12px;
  text-decoration: none;
  .font-settings(700; 18px; 26px);
  color: inherit;

  @media (min-width: @tablet-width) {
    .font-settings(700; 14px; 21px);
  }
}

