.main-footer {
  text-align: center;
}

.main-footer__hashtag {
  .font-settings(700; 21px; 26px);
}

.main-footer__wrapper {
  padding: 39px 18px 23px 18px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 45px;
    padding-left: 76px;
  }
}
