.main-container__image-wrapper {
  position: relative;
  padding: 89px 19px 79px 19px;
  text-align: center;
  background: url("../img/back-mobile.jpg") @lightblue center/cover no-repeat;

  // &::after {
  //   content: "";
  //   background: url("../img/corners.svg") center/cover no-repeat;
  //   position: absolute;
  //   display: block;
  //   width: 100%;
  //   height: 57px;
  //   left: 0;
  //   bottom: 0;
  // }

  @media (min-width: @tablet-width) {
    background-image: url("../img/back-tablet.jpg");
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/back-desktop.jpg");
  }
}

.main-container__image {
  @media (min-width: @tablet-width) {
    width: 461px;
  }
}
