// mobail
.main-inner__image {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-inner__image-wrapper {
  padding: 42px 22px 51px 21px;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: url("../img/back-inner.jpg") #805a5a bottom/cover  no-repeat;

  &::after {
    content: "";
    width: 1200px;
    height: 57px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: url("../img/decor.svg") no-repeat;
  }
}

//tablet
@media (min-width: @tablet-width) {
  .main-inner__image-wrapper {
    padding: 74px 60px 90px 62px;
    background-image: url("../img/back-inner-tablet.jpg");
  }

  .main-inner__image {
    width: 459px;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-resolution: 2dppx) {
    .main-inner__image-wrapper {
      background-image: url("../img/back-inner-tablet@2x.jpg");
    }
  }
}

//desktop
@media (min-width: @desktop-width) {
  .main-inner__image-wrapper {
    padding: 82px 65px 93px 60px;
    background-image: url("../img/back-inner-desktop.jpg");
  }

  @media (min-resolution: 2dppx) {
    .main-inner__image-wrapper {
      background-image: url("../img/back-inner-desktop@2x.jpg");
    }
  }
}
