// mobail
.photo {
  padding-top: 24px;
  padding-bottom: 25px;
  text-align: left;

  &:first-child {
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    &:not(:first-child) {
      width: 50%;
    }
  }

  @media (min-width: @desktop-width) {
    &:not(:first-child) {
      width: calc(100% / 3);
    }
  }
}

.photo__description {
  padding-top: 10px;
}

.photo__title {
  .reset-style;
  .font-settings(700; 14px; 21px);
}

.photo__autor {
  .reset-style;
  text-transform: none;
  margin-bottom: 16px;
}

.photo__like {
  .reset-style;
  position: relative;
  padding-left: 37px;
  font-weight: 700;

  &::before {
    content: url("../img/icon-like.svg");
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.photo__image {
  width: 100%;
  height: auto;
}

// tablet
@media (min-width: @tablet-width) {
  .photo {
    text-align: left;

    &:first-child {
      width: 100%;
    }

    &:not(:first-child) {
      width: 50%;
    }
  }
}

// desktop
@media (min-width: @desktop-width) {
  .photo {
    &:not(:first-child) {
      width: calc(100% / 3);
    }
  }
}
