.social__list {
  .reset-list-style;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
}

.social__link {
  width: 48px;
  height: 48px;
  position: relative;

  &::before {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 12px;
    left: 12px;
  }

  &--vkontakte::before {
    background-image: url("../img/icon-vk.svg");
  }

  &--telegram::before {
    background-image: url("../img/icon-telegram.svg");
  }

  &--youtube::before {
    background-image: url("../img/icon-youtube.svg");
  }

  &:active::before {
    opacity: 0.3;
  }
}
