// mobail
.video-content {
  padding: 17px 20px 0 20px;
  margin: 0 auto;
}

.video-content__header {
  padding-bottom: 40px;
}

.video-content__image {
  width: 100%;
  height: auto;
  display: block;
}

.video-content__slogan {
  .reset-style;
  max-width: 266px;
  margin: 0 auto;
  color: #333333;
}

.video-content__title {
  .reset-style;
  .font-settings(700; 18px; 26px);
  margin-bottom: 26px;
}

.video-content__wrapper {
  position: relative;
}

.video-content__button {
  width: 48px;
  height: 54px;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
  opacity: 0.7;
  border: none;
  background: url("../img/icon-play.svg") no-repeat 50% 50%;

  &:hover {
    opacity: 1;
  }

  &:focus-visible {
    outline: none;
    opacity: 1;
  }
}

// tablet
@media (min-width: @tablet-width) {
  .video-content {
    padding: 36px 60px 52px 60px;
  }

  .video-content__slogan {
    max-width: 445px;
  }

  .video-content__title {
    font-size: 30px;
    margin-bottom: 32px;
  }

  .video-content__header {
    padding-bottom: 89px;
  }
}

// desktop
@media (min-width: @desktop-width) {
  .video-content {
    padding: 40px 201px 96px 199px;
  }

  .video-content__header {
    padding-bottom: 87px;
  }
}
