.font-settings(@font-weight; @font-size; @line-height; @color:@black) {
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
}

.reset-list-style {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.reset-style {
  padding: 0;
  margin: 0;
}

