@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
.reset-list-style {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.reset-style {
  padding: 0;
  margin: 0;
}
.vertical-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page {
  height: 100%;
  background-color: #e7e5e5;
}
.page__body {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}
.page__container {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
}
.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.main-nav {
  width: 100%;
  height: 56px;
}
.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  background-color: #81b3d2;
  color: #ffffff;
  position: relative;
}
.main-nav__link {
  padding-top: 17px;
  padding-bottom: 12px;
  display: block;
  text-decoration: none;
  color: inherit;
}
.main-nav__toggle {
  position: absolute;
  z-index: 1;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  border: none;
  cursor: pointer;
  opacity: 1;
}
.main-nav__toggle:hover,
.main-nav__toggle:active {
  opacity: 0.6;
}
.main-nav--closed .main-nav__toggle {
  background: url("../img/icon-open-menu.svg") center no-repeat transparent;
}
.main-nav--opened .main-nav__toggle {
  background: url("../img/icon-close-menu.svg") center no-repeat transparent;
}
@media (max-width: 767px) {
  .main-nav--opened {
    z-index: 3;
  }
  .main-nav__item:not(:last-child) {
    border-bottom: 1px solid #668bab;
  }
  .main-nav__item:not(:first-child) {
    border-top: 1px solid #98bfde;
  }
  .main-nav__item:hover,
  .main-nav__item:focus {
    background-color: #669EC0;
  }
  .main-nav__item:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
  .main-nav--closed .main-nav__item {
    display: none;
  }
  .main-nav--nojs .main-nav {
    position: static;
    margin-top: 95px;
    display: block;
    height: auto;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__item {
    display: block;
  }
  .main-nav--opened .main-nav__list::after,
  .main-nav--nojs .main-nav__list::after {
    content: "";
    position: absolute;
    top: 215px;
    left: 0;
    z-index: 10;
    height: 7px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }
}
@media (min-width: 768px) {
  .main-nav__link {
    padding-top: 19px;
    padding-bottom: 16px;
  }
  .main-nav__link:hover,
  .main-nav__link:focus {
    color: #81b3d2;
  }
  .main-nav__link:active {
    color: #b3b3b3;
  }
  .main-nav__link--current {
    color: #766357;
  }
  .main-nav__list {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    background-color: #ffffff;
    color: #000000;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .main-nav__item:nth-child(4n+3) {
    grid-column: 4/5;
  }
  .main-nav__item:nth-child(4n+4) {
    grid-column: 5/6;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-nav__list {
    max-width: 1200px;
  }
}
.main-footer {
  padding: 28px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-footer__hashtag {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 32px;
  max-width: 100%;
  word-wrap: break-word;
}
.main-footer__social {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .main-footer {
    padding: 22px 60px 22px 60px;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-footer__social {
    padding-right: 10px;
    padding-top: 2px;
  }
  .main-footer__copyright {
    align-self: flex-start;
    padding-top: 10px;
  }
  .main-footer__hashtag {
    margin-bottom: 29px;
  }
}
@media (min-width: 1200px) {
  .main-footer {
    padding: 22px 120px 45px 120px;
  }
}
.social__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
}
.social__link {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.social__link--vkontakte {
  background-image: url("../img/icon-vk.svg");
}
.social__link--telegram {
  background-image: url("../img/icon-telegram.svg");
}
.social__link--youtube {
  background-image: url("../img/icon-youtube.svg");
}
.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
  padding-bottom: 3px;
}
.copyright__link:hover,
.copyright__link:focus {
  color: #81b3d2;
}
.copyright__link:active {
  color: #b3b3b3;
}
.copyright__text {
  padding-right: 12px;
}
.button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: inherit;
  display: block;
  background-color: #81b3d2;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 1;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #669EC0;
}
.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-container__image-wrapper {
  position: relative;
  padding-top: 90px;
  padding-bottom: 79px;
  background: url("../img/back-mobile.jpg") #dbe9f2 center / cover no-repeat;
  overflow: hidden;
}
.main-container__image-wrapper::after {
  content: "";
  width: 1200px;
  height: 57px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url("../img/decor.svg") no-repeat;
}
.main-container__image {
  margin: 0 auto;
}
@media (min-resolution: 2dppx) {
  .main-container__image-wrapper {
    background-image: url("../img/back-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .main-container__image-wrapper {
    padding-top: 77px;
    padding-bottom: 85px;
    background-image: url("../img/back-tablet.jpg");
  }
  .main-container__image {
    width: 461px;
    height: 350px;
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .main-container__image-wrapper {
    background-image: url("../img/back-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .main-container__image-wrapper {
    background-image: url("../img/back-desktop.jpg");
  }
}
@media (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-container__image-wrapper {
    background-image: url("../img/back-desktop@2x.jpg");
  }
}
.advantages__header {
  padding: 32px 18px 37px 18px;
}
.advantages__slogan {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  max-width: 270px;
  margin: 0 auto;
  margin-bottom: 35px;
  color: #333333;
}
.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.advantages__item {
  box-sizing: border-box;
}
.advantages__item--with-image {
  background-color: #81b3d2;
  color: #ffffff;
}
.advantages__item--with-border {
  padding: 25px 18px 25px 18px;
  position: relative;
  background-color: #eeeeee;
}
.advantages__title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 11px;
  color: inherit;
}
.advantages__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px 18px 18px 18px;
  box-sizing: border-box;
  min-height: 191px;
}
.advantages__text {
  padding: 0;
  margin: 0;
  margin: 0 auto;
  max-width: 273px;
  color: #333333;
}
.advantages__description {
  margin: 0 auto;
  max-width: 263px;
}
.advantages__item--with-border .advantages__description {
  max-width: 255px;
}
.advantages__number {
  padding: 0;
  margin: 0;
  margin-bottom: 17px;
  color: inherit;
}
.advantages__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.advantages__group--reverse {
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .advantages__header {
    position: relative;
  }
  .advantages__header::after {
    content: "";
    width: 100%;
    height: 37px;
    position: absolute;
    bottom: -37px;
    left: 50%;
    transform: translateX(-50%);
    background: url("../img/decor-advantage.svg") no-repeat;
    background-size: contain;
  }
  .advantages__item:first-child .advantages__text-wrapper {
    padding-top: 48px;
    padding-bottom: 40px;
  }
  .advantages__item--with-border + .advantages__item--with-border::before {
    content: "";
    border-top: 1px solid #d6d6d6;
    position: absolute;
    top: -2px;
    left: 18px;
    right: 18px;
  }
  .advantages__item--with-border:last-child {
    padding-bottom: 26px;
  }
  .advantages__description br {
    display: none;
  }
}
@media (min-width: 768px) {
  .advantages__header {
    padding: 49px 98px 54px 98px;
  }
  .advantages__slogan {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    max-width: 500px;
    margin-bottom: 30px;
  }
  .advantages__text {
    max-width: none;
  }
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
  }
  .advantages__group {
    display: flex;
    width: 100%;
  }
  .advantages__item {
    width: calc(100% / 3);
  }
  .advantages__item--with-image {
    width: 100%;
  }
  .advantages__item--with-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 41px 33px;
    min-height: 256px;
  }
  .advantages__image-wrapper {
    width: calc(200% / 3);
    display: block;
    box-sizing: border-box;
  }
  .advantages__text-wrapper {
    width: calc(100% / 3);
    padding: 54px 18px 31px 18px;
  }
  .advantages__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    max-width: 150px;
    margin: 0 auto;
    margin-bottom: 12px;
  }
  .advantages__number {
    margin-bottom: 23px;
  }
  .advantages__description {
    max-width: 190px;
  }
}
@media (min-width: 1200px) {
  .advantages__header {
    padding: 60px 101px 43px 98px;
  }
  .advantages__text-wrapper {
    padding: 32px 22px 31px 20px;
  }
  .advantages__description {
    max-width: 234px;
  }
  .advantages__item--with-border {
    padding-top: 61px;
  }
  .advantages__item--with-border .advantages__description {
    max-width: 260px;
  }
}
.advantages-sublist {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 23px 18px 20px 18px;
  background-color: #ffffff;
  text-align: start;
  color: #000000;
}
.advantages-sublist__title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-top: 9px;
  margin-bottom: 16px;
}
.advantages-sublist__text {
  padding: 0;
  margin: 0;
  color: #333333;
}
.advantages-sublist__item {
  padding-left: 47px;
  margin-bottom: 24px;
  position: relative;
}
.advantages-sublist__item::before {
  content: "";
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.advantages-sublist__item--housing::before {
  background-image: url("../img/icon-house.svg");
}
.advantages-sublist__item--food::before {
  background-image: url("../img/icon-food.svg");
}
.advantages-sublist__item--gifts::before {
  background-image: url("../img/icon-gift.svg");
}
@media (max-width: 767px) {
  .advantages-sublist__item br {
    display: none;
  }
}
@media (max-width: 767px) {
  .advantages-sublist__text br {
    display: none;
  }
}
@media (min-width: 768px) {
  .advantages-sublist {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .advantages-sublist__item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 0;
    min-height: 331px;
    padding: 58px 20px 20px 20px;
  }
  .advantages-sublist__item::before {
    margin: 0 auto;
    width: 77px;
    height: 75px;
    left: 50%;
    top: 57px;
    transform: translateX(-50%);
  }
  .advantages-sublist__item--housing::before {
    width: 72px;
    height: 77px;
  }
  .advantages-sublist__item--food::before {
    width: 79px;
    height: 77px;
  }
  .advantages-sublist__item--gifts::before {
    width: 67px;
    height: 75px;
    top: 63px;
  }
  .advantages-sublist__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 22px;
    padding-top: 100px;
  }
  .advantages-sublist__text {
    max-width: 175px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .advantages-sublist__item {
    padding-top: 70px;
    min-height: 331px;
  }
  .advantages-sublist__item::before {
    top: 69px;
  }
  .advantages-sublist__text {
    max-width: 285px;
  }
  .advantages-sublist__item--housing::before {
    width: 80px;
    height: 73px;
  }
  .advantages-sublist__item--food::before {
    top: 72px;
    width: 73px;
    height: 69px;
  }
  .advantages-sublist__item--gifts::before {
    width: 77px;
    height: 75px;
  }
}
.hotel-offers {
  padding: 40px 18px 49px 18px;
}
.hotel-offers__title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 20px;
}
.hotel-offers__text {
  padding: 0;
  margin: 0;
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 262px;
  color: #333333;
}
.hotel-offers__link {
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 15px;
  text-decoration: none;
  max-width: 458px;
}
@media (max-width: 767px) {
  .hotel-offers__text br {
    display: none;
  }
}
@media (min-width: 768px) {
  .hotel-offers__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 32px;
  }
  .hotel-offers__text {
    max-width: 435px;
    margin-bottom: 41px;
  }
  .hotel-offers {
    padding: 60px 20% 58px 20%;
  }
}
@media (min-width: 1200px) {
  .hotel-offers {
    padding-top: 60px;
    padding-bottom: 66px;
  }
  .hotel-offers__text {
    margin-bottom: 46px;
  }
}
.location__map {
  display: block;
  width: 100%;
  height: 350px;
}
.location {
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .location {
    background-image: url("../img/map-tablet.jpg");
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .location {
    background-image: url("../img/map-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .location {
    background-image: url("../img/map-desktop.jpg");
  }
}
@media (min-width: 1200px) and (min-resolution: 2dppx) {
  .location {
    background-image: url("../img/map-desktop@2x.jpg");
  }
}
.feedback__header {
  padding: 38px 20px 27px 20px;
  text-align: center;
}
.feedback__title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 24px;
}
.feedback__text {
  padding: 0;
  margin: 0;
  max-width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .feedback__header {
    padding: 64px 60px 32px 60px;
  }
  .feedback__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 23px;
  }
  .feedback__text {
    max-width: 435px;
  }
}
@media (min-width: 1200px) {
  .feedback__header {
    padding: 113px 120px 20px 120px;
  }
  .feedback__title {
    margin-bottom: 32px;
  }
}
.feedback-form {
  width: 100%;
  margin-bottom: 5px;
}
.feedback-form__button {
  width: 100%;
  max-width: 324px;
  padding-top: 17px;
  padding-bottom: 15px;
  margin: 0 auto;
}
.feedback-form__title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  padding-top: 25px;
  margin: 0 auto;
}
.feedback-form__group {
  padding: 0;
  margin: 0;
  padding: 19px 20px 25px 20px;
  border: none;
  box-sizing: border-box;
}
.feedback-form__group--name {
  padding-bottom: 24px;
}
.feedback-form__group--contact {
  padding-bottom: 19px;
}
.feedback-form__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.feedback-form__item {
  text-align: start;
  width: 100%;
}
.feedback-form__button-wrapper {
  padding: 25px 20px 21px 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 768px;
  text-align: end;
  color: #33333399;
}
.feedback-form__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
}
@media (max-width: 767px) {
  .feedback-form__group {
    position: relative;
  }
  .feedback-form__group::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    position: absolute;
    top: -52px;
    left: 0;
  }
  .feedback-form__button {
    margin-bottom: 3px;
  }
}
@media (min-width: 768px) {
  .feedback-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 47px 60px 0 60px;
    box-sizing: border-box;
  }
  .feedback-form__list--text {
    display: flex;
    flex-wrap: wrap;
  }
  .feedback-form__list--radio,
  .feedback-form__list--checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 17px;
  }
  .feedback-form__list--radio {
    padding: 2px 39px 0 36px;
    margin-bottom: 22px;
  }
  .feedback-form__list--checkbox {
    padding: 1px 14px 0 2px;
    margin-bottom: 14px;
  }
  .feedback-form__group {
    padding: 0;
    box-sizing: border-box;
    width: 50%;
    border: none;
  }
  .feedback-form__group:nth-child(n+3) {
    width: 100%;
  }
  .feedback-form__wrapper {
    padding-left: 81px;
    padding-right: 56px;
  }
  .feedback-form__group--name {
    border-right: 1px solid #dbdbdb;
    margin-bottom: 20px;
  }
  .feedback-form__group--name .feedback-form__item {
    padding-right: 43px;
  }
  .feedback-form__group--contact .feedback-form__item {
    padding-left: 44px;
  }
  .feedback-form__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    padding-bottom: 27px;
    padding-top: 27px;
  }
  .feedback-form__title--with-decor {
    position: relative;
  }
  .feedback-form__title--with-decor::after,
  .feedback-form__title--with-decor::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #dbdbdb;
    top: 50%;
    width: 19%;
  }
  .feedback-form__title--with-decor::before {
    left: 0;
  }
  .feedback-form__title--with-decor::after {
    right: 0;
  }
  .feedback-form__button-wrapper {
    margin: 0 auto;
    padding: 43px 0 70px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .feedback-form__button {
    margin: 0;
  }
  .feedback-form__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding-top: 8px;
  }
}
@media (min-width: 1200px) {
  .feedback-form {
    padding: 23px 120px 0 120px;
  }
  .feedback-form__list--checkbox {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 29px 17px 34px 44px;
    gap: 45px;
    margin: 0;
  }
  .feedback-form__list--radio {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 39px 0 53px;
    gap: 57px;
  }
  .feedback-form__group--name {
    margin-bottom: 29px;
    width: 493px;
  }
  .feedback-form__group--contact {
    width: 467px;
  }
  .feedback-form__group {
    margin-bottom: 27px;
  }
  .feedback-form__wrapper {
    padding: 0;
  }
  .feedback-form__button-wrapper {
    padding-top: 16px;
  }
  .feedback-form__button {
    width: 384px;
    max-width: none;
  }
}
.input-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.input-text__label {
  margin-left: 16px;
  color: #333333;
  text-align: start;
}
.input-text__input {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  width: 100%;
  padding: 16px 16px 12px 15px;
  box-sizing: border-box;
  border: none;
  text-transform: none;
  background-color: #F2F2F2;
  background-repeat: no-repeat;
  background-position: right 20px center, right center;
}
.input-text__input::placeholder {
  color: fade-out(#000000, 0.7);
}
.input-text__input:focus {
  outline: none;
  box-shadow: 0 0 1px 2px #ffffff, 0 0 2px 4px #81b3d2;
}
.input-text__input:hover {
  background-color: #e5e5e5;
  box-shadow: none;
}
.input-text__input:active {
  background-color: #f2f2f2;
  box-shadow: inset 0 0 0 4px #e5e5e5;
}
.input-text__input--phone {
  background-image: url("../img/icon-phone.svg"), linear-gradient(to left, #e6e6e6 58px, transparent 58px);
  padding-right: 62px;
}
.input-text__input--email {
  background-image: url("../img/icon-email.svg"), linear-gradient(to left, #e6e6e6 58px, transparent 58px);
  padding-right: 62px;
}
.input-radio__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  min-height: 45px;
  padding-left: 63px;
  position: relative;
  display: flex;
  align-items: center;
  text-transform: none;
  cursor: pointer;
}
.input-radio__label::before {
  content: "";
  width: 46px;
  height: 46px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #F2F2F2;
}
.input-radio__label::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 50%;
  background: #000000;
  display: none;
}
.input-radio__input:checked + .input-radio__label::after {
  display: block;
}
@media (max-width: 767px) {
  .input-radio:not(:last-child) {
    margin-bottom: 18px;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 1200px) {
}
.input-checkbox__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-left: 63px;
  min-height: 46px;
  position: relative;
  display: flex;
  align-items: center;
  text-transform: none;
  cursor: pointer;
}
.input-checkbox__label::before {
  content: "";
  width: 46px;
  height: 46px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: #F2F2F2;
}
.input-checkbox__label::after {
  content: url("../img/tick.svg");
  width: 22px;
  height: 16px;
  position: absolute;
  top: 13px;
  left: 12px;
  display: none;
}
.input-checkbox__input:checked + .input-checkbox__label::after {
  display: block;
}
@media (max-width: 767px) {
  .input-checkbox:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 1200px) {
}
.input-textarea {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: inherit;
  margin: 0 auto;
  padding: 17px;
  width: 100%;
  max-width: 768px;
  min-height: 160px;
  border: none;
  box-sizing: border-box;
  background-color: #eeeeee;
}
.main-inner__image-wrapper {
  padding: 51px 20px 62px 21px;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: url("../img/back-inner.jpg") #805a5a bottom / cover no-repeat;
}
.main-inner__image-wrapper::after {
  content: "";
  width: 1200px;
  height: 57px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: url("../img/decor.svg") no-repeat;
}
@media (min-width: 768px) {
  .main-inner__image-wrapper {
    padding: 93px 60px 111px 60px;
    background-image: url("../img/back-inner-tablet.jpg");
  }
  .main-inner__image {
    width: 460px;
    height: 80px;
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .main-inner__image-wrapper {
    background-image: url("../img/back-inner-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .main-inner__image-wrapper {
    padding: 101px 65px 114px 61px;
    background-image: url("../img/back-inner-desktop.jpg");
  }
}
@media (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-inner__image-wrapper {
    background-image: url("../img/back-inner-desktop@2x.jpg");
  }
}
.modal__wrapper {
  padding: 45px 41px 35px 41px;
  text-align: center;
}
.modal__title {
  margin-top: 0;
  margin-bottom: 37px;
}
.modal__description {
  margin-top: 0;
  margin-bottom: 28px;
}
.modal__button--success {
  margin: 0 auto;
  width: 100%;
  max-width: 458px;
  padding-top: 18px;
  padding-bottom: 14px;
}
.modal__button--error {
  margin: 0 auto;
  padding: 18px 64px 14px 64px;
}
.catalog__header {
  padding: 0;
  margin: 0;
  padding: 39px 20px 36px 20px;
}
.catalog__title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 24px;
}
.catalog__slogan {
  padding: 0;
  margin: 0;
  max-width: 280px;
  margin: 0 auto;
  color: #333333;
}
@media (max-width: 767px) {
  .catalog__slogan br {
    display: none;
  }
}
@media (min-width: 768px) {
  .catalog__header {
    padding: 66px 60px 57px 60px;
  }
  .catalog__title {
    font-size: 30px;
    margin-bottom: 32px;
  }
  .catalog__slogan {
    max-width: 458px;
  }
}
@media (min-width: 1200px) {
  .catalog {
    margin-left: 0;
    margin-right: 0;
  }
  .catalog__header {
    padding-top: 98px;
    padding-bottom: 66px;
  }
}
.photo-content__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (max-width: 767px) {
  .photo-content__item {
    border-top: 1px solid #e5e5e5;
  }
  .photo-content__item:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}
@media (min-width: 768px) {
  .photo-content {
    padding: 24px 60px 20px 60px;
  }
  .photo-content__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .photo-content {
    padding: 23px 0 20px 0;
  }
}
.photo {
  padding: 24px 20px 19px 20px;
  text-align: left;
  box-sizing: border-box;
}
.photo:first-child {
  width: 100%;
}
.photo__info {
  padding-top: 14px;
}
.photo__title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 1px;
}
.photo__autor {
  padding: 0;
  margin: 0;
  text-transform: none;
  margin-bottom: 14px;
  color: #333333;
}
.photo__like {
  display: flex;
}
.photo__like-count {
  padding: 0;
  margin: 0;
  padding-top: 3px;
  font-weight: 700;
}
.photo__like-icon {
  padding-right: 14px;
  padding-bottom: 9px;
  cursor: pointer;
  opacity: 1;
}
.photo__like-icon:hover {
  opacity: 0.5;
}
.photo__image {
  width: 100%;
  height: auto;
  display: block;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .photo:nth-child(2n+3) .photo__info {
    background-color: #eaeaea;
  }
}
@media (min-width: 768px) {
  .photo {
    padding: 0;
    text-align: left;
  }
  .photo:first-child {
    width: 100%;
  }
  .photo:not(:first-child) {
    width: 50%;
  }
  .photo__info {
    padding: 22px 20px 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
  }
  .photo__autor {
    margin: 0;
  }
  .photo__like-icon {
    padding-right: 9px;
    padding-bottom: 9px;
  }
}
@media (min-width: 1200px) {
  .photo {
    position: relative;
  }
  .photo:not(:first-child) {
    width: calc(100% / 3);
  }
  .photo:not(:first-child) .photo__info {
    padding: 18px 20px 16px 25px;
  }
  .photo:not(:first-child) .photo__title {
    margin-bottom: 4px;
  }
  .photo:not(:first-child) .photo__like-count {
    padding-top: 6px;
  }
  .photo__info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .photo__autor {
    color: #ffffff;
  }
  .photo__like-icon {
    fill: #ffffff;
  }
}
.video-content {
  padding: 17px 20px 0 20px;
  margin: 0 auto;
}
.video-content__header {
  padding-bottom: 40px;
}
.video-content__image {
  width: 100%;
  height: auto;
  display: block;
}
.video-content__slogan {
  padding: 0;
  margin: 0;
  max-width: 266px;
  margin: 0 auto;
  color: #333333;
}
.video-content__title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 26px;
}
.video-content__wrapper {
  position: relative;
}
.video-content__button {
  width: 48px;
  height: 54px;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
  opacity: 0.7;
  border: none;
  background: url("../img/icon-play.svg") no-repeat 50% 50%;
}
.video-content__button:hover {
  opacity: 1;
}
@media (min-width: 768px) {
  .video-content {
    padding: 36px 60px 52px 60px;
  }
  .video-content__slogan {
    max-width: 445px;
  }
  .video-content__title {
    font-size: 30px;
    margin-bottom: 32px;
  }
  .video-content__header {
    padding-bottom: 89px;
  }
}
@media (min-width: 1200px) {
  .video-content {
    padding: 40px 201px 96px 199px;
  }
  .video-content__header {
    padding-bottom: 87px;
  }
}
/*# sourceMappingURL=style.css.map */
